{
  "data_types": {
    "onap.datatypes.ToscaConceptIdentifier": {
      "derived_from": "tosca.datatypes.Root",
      "properties": {
        "version": {
          "required": true,
          "type": "string"
        },
        "name": {
          "required": true,
          "type": "string"
        }
      }
    }
  },
  "topology_template": {
    "node_templates": {
      "org.onap.domain.database.PMSH_K8SMicroserviceAutomationCompositionElement": {
        "properties": {
          "participantType": {
            "version": "2.3.4",
            "name": "org.onap.policy.clamp.acm.KubernetesParticipant"
          },
          "participant_id": {
            "version": "1.0.0",
            "name": "K8sParticipant0"
          },
          "provider": "ONAP",
          "chart": {
            "repository": {
              "address": "{{chartmuseumIp}}",
              "repoName": "chartmuseum",
              "port": {{chartmuseumPort}},
              "protocol": "http"
            },
            "namespace": "nonrtric",
            "chartId": {
              "version": "{{chartVersion}}",
              "name": "{{chartName}}"
            },
            "releaseName": "{{releaseName}}"
          }
        },
        "description": "Automation composition element for the K8S microservice for PMSH",
        "version": "1.2.3",
        "type_version": "1.0.0",
        "type": "org.onap.policy.clamp.acm.K8SMicroserviceAutomationCompositionElement"
      },
      "org.onap.policy.clamp.acm.KubernetesParticipant": {
        "properties": {
          "provider": "Ericsson"
        },
        "description": "Participant for K8S",
        "version": "2.3.4",
        "type_version": "1.0.1",
        "type": "org.onap.policy.clamp.acm.Participant"
      },
      "org.onap.domain.sample.GenericK8s_AutomationCompositionDefinition": {
        "properties": {
          "elements": [
            {
              "version": "1.2.3",
              "name": "org.onap.domain.database.PMSH_K8SMicroserviceAutomationCompositionElement"
            }],
          "provider": "ONAP"
        },
        "description": "Automation composition for Hello World",
        "version": "1.2.3",
        "type_version": "1.0.1",
        "type": "org.onap.policy.clamp.acm.AutomationComposition"
      }
    }
  },
  "tosca_definitions_version": "tosca_simple_yaml_1_3",
  "node_types": {
    "org.onap.policy.clamp.acm.AutomationComposition": {
      "derived_from": "tosca.nodetypes.Root",
      "properties": {
        "elements": {
          "required": true,
          "metadata": {
            "common": true
          },
          "entry_schema": {
            "type": "onap.datatypes.ToscaConceptIdentifier"
          },
          "description": "Specifies a list of automation composition element definitions that make up this automation composition definition",
          "type": "list"
        },
        "provider": {
          "required": false,
          "metadata": {
            "common": true
          },
          "description": "Specifies the organization that provides the automation composition element",
          "type": "string"
        }
      },
      "version": "1.0.1"
    },
    "org.onap.policy.clamp.acm.AutomationCompositionElement": {
      "derived_from": "tosca.nodetypes.Root",
      "properties": {
        "runningToPassiveTimeout": {
          "required": false,
          "metadata": {
            "common": true
          },
          "default": 60,
          "constraints": [
            {
              "greater_or_equal": 0
            }],
          "description": "The maximum time in seconds to wait for a state chage from running to passive",
          "type": "integer"
        },
        "participantType": {
          "required": true,
          "metadata": {
            "common": true
          },
          "description": "The identity of the participant type that hosts this type of Automation Composition Element",
          "type": "onap.datatypes.ToscaConceptIdentifier"
        },
        "startPhase": {
          "required": false,
          "metadata": {
            "common": true
          },
          "constraints": [
            {
              "greater_or_equal": 0
            }],
          "description": "A value indicating the start phase in which this automation composition element will be started, the first start phase is zero. Automation Composition Elements are started in their start_phase order and stopped in reverse start phase order. Automation Composition Elements with the same start phase are started and stopped simultaneously",
          "type": "integer"
        },
        "passiveToUninitializedTimeout": {
          "required": false,
          "metadata": {
            "common": true
          },
          "default": 60,
          "constraints": [
            {
              "greater_or_equal": 0
            }],
          "description": "The maximum time in seconds to wait for a state chage from passive to uninitialized",
          "type": "integer"
        },
        "uninitializedToPassiveTimeout": {
          "required": false,
          "metadata": {
            "common": true
          },
          "default": 60,
          "constraints": [
            {
              "greater_or_equal": 0
            }],
          "description": "The maximum time in seconds to wait for a state chage from uninitialized to passive",
          "type": "integer"
        },
        "participant_id": {
          "metadata": {
            "common": true
          },
          "requred": true,
          "type": "onap.datatypes.ToscaConceptIdentifier"
        },
        "provider": {
          "required": false,
          "metadata": {
            "common": true
          },
          "description": "Specifies the organization that provides the automation composition element",
          "type": "string"
        },
        "passiveToRunningTimeout": {
          "required": false,
          "metadata": {
            "common": true
          },
          "default": 60,
          "constraints": [
            {
              "greater_or_equal": 0
            }],
          "description": "The maximum time in seconds to wait for a state chage from passive to running",
          "type": "integer"
        }
      },
      "version": "1.0.1"
    },
    "org.onap.policy.clamp.acm.K8SMicroserviceAutomationCompositionElement": {
      "derived_from": "org.onap.policy.clamp.acm.AutomationCompositionElement",
      "properties": {
        "templates": {
          "required": false,
          "entry_schema": null,
          "type": "list"
        },
        "requirements": {
          "requred": false,
          "type": "string"
        },
        "values": {
          "requred": true,
          "type": "string"
        },
        "configs": {
          "required": false,
          "type": "list"
        },
        "chart": {
          "required": true,
          "type": "string"
        }
      },
      "version": "1.0.1"
    },
    "org.onap.policy.clamp.acm.Participant": {
      "derived_from": "tosca.nodetypes.Root",
      "properties": {
        "provider": {
          "requred": false,
          "type": "string"
        }
      },
      "version": "1.0.1"
    }
  }
}