{
  "model-vers": {
    "model-ver": [
      {
        "model-version": "{{ model_version }}",
        "model-name": "{{ model_name }}",
        "model-version-id": "{{ version_id }}"
      }]
  },
  "model-type": "resource",
  "model-invariant-id": "{{ model_invariant_id }}"
}