{
  "serviceProperties": {
    "{{ sdc_resource.unique_identifier }}": [
      {
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#coverageAreaList",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": true,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#coverageAreaList",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "coverageAreaList",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.coverageAreaList",
          "password": false,
          "definition": false,
          "type": "string",
          "name": "coverageAreaList"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#expDataRateDL",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#expDataRateDL",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "expDataRateDL",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.expDataRateDL",
          "password": false,
          "definition": false,
          "type": "integer",
          "name": "expDataRateDL"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#expDataRateUL",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#expDataRateUL",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "expDataRateUL",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.expDataRateUL",
          "password": false,
          "definition": false,
          "type": "integer",
          "name": "expDataRateUL"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#latency",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": true,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#latency",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "latency",
          "defaultValue": "30",
          "derivedDataType": 0,
          "valueObj": 30,
          "value": "30",
          "uniqueId": "{{ property.property_type }}.datatype.latency",
          "password": false,
          "definition": false,
          "type": "integer",
          "name": "latency"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#maxNumberofUEs",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": true,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#maxNumberofUEs",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "maxNumberofUEs",
          "defaultValue": "1000",
          "derivedDataType": 0,
          "valueObj": 1000,
          "value": "1000",
          "uniqueId": "{{ property.property_type }}.datatype.maxNumberofUEs",
          "password": false,
          "definition": false,
          "type": "integer",
          "name": "maxNumberofUEs"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#resourceSharingLevel",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": true,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#resourceSharingLevel",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "constraints": [
            {
              "validValues": [
                "Shared","Non-shared"]
            }],
          "description": "resourceSharingLevel",
          "defaultValue": "Shared",
          "derivedDataType": 0,
          "valueObj": "Shared",
          "value": "Shared",
          "uniqueId": "{{ property.property_type }}.datatype.resourceSharingLevel",
          "password": false,
          "definition": false,
          "type": "string",
          "name": "resourceSharingLevel"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#uEMobilityLevel",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#uEMobilityLevel",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "constraints": [
            {
              "validValues": [
                "stationary","nomadic","restricted mobility","fully mobility"]
            }],
          "description": "uEMobilityLevel",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.uEMobilityLevel",
          "password": false,
          "definition": false,
          "type": "string",
          "name": "uEMobilityLevel"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#useInterval",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": true,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#useInterval",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "useInterval",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.useInterval",
          "password": false,
          "definition": false,
          "type": "string",
          "name": "useInterval"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      }]
  }
}