{
  "serviceProperties": {
    "{{ sdc_resource.unique_identifier }}": [
      {
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#activityFactor",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#activityFactor",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "activityFactor",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.activityFactor",
          "password": false,
          "definition": false,
          "type": "integer",
          "name": "activityFactor"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#areaTrafficCapDL",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#areaTrafficCapDL",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "areaTrafficCapDL",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.areaTrafficCapDL",
          "password": false,
          "definition": false,
          "type": "integer",
          "name": "areaTrafficCapDL"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#areaTrafficCapUL",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#areaTrafficCapUL",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "areaTrafficCapUL",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.areaTrafficCapUL",
          "password": false,
          "definition": false,
          "type": "integer",
          "name": "areaTrafficCapUL"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#cSAvailabilityTarget",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#cSAvailabilityTarget",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "cSAvailabilityTarget",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.cSAvailabilityTarget",
          "password": false,
          "definition": false,
          "type": "float",
          "name": "cSAvailabilityTarget"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#cSReliabilityMeanTime",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#cSReliabilityMeanTime",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "cSReliabilityMeanTime",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.cSReliabilityMeanTime",
          "password": false,
          "definition": false,
          "type": "string",
          "name": "cSReliabilityMeanTime"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#coverageAreaTAList",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#coverageAreaTAList",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "coverageAreaTAList",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.coverageAreaTAList",
          "password": false,
          "definition": false,
          "type": "string",
          "name": "coverageAreaTAList"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#expDataRate",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#expDataRate",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "expDataRate",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.expDataRate",
          "password": false,
          "definition": false,
          "type": "integer",
          "name": "expDataRate"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#expDataRateDL",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#expDataRateDL",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "expDataRateDL",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.expDataRateDL",
          "password": false,
          "definition": false,
          "type": "integer",
          "name": "expDataRateDL"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#expDataRateUL",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#expDataRateUL",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "expDataRateUL",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.expDataRateUL",
          "password": false,
          "definition": false,
          "type": "integer",
          "name": "expDataRateUL"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#latency",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": true,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#latency",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "latency",
          "defaultValue": "30",
          "derivedDataType": 0,
          "valueObj": 30,
          "value": "30",
          "uniqueId": "{{ property.property_type }}.datatype.latency",
          "password": false,
          "definition": false,
          "type": "integer",
          "name": "latency"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#maxNumberofPDUSession",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#maxNumberofPDUSession",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "maxNumberofPDUSession",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.maxNumberofPDUSession",
          "password": false,
          "definition": false,
          "type": "integer",
          "name": "maxNumberofPDUSession"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#maxNumberofUEs",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": true,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#maxNumberofUEs",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "maxNumberofUEs",
          "defaultValue": "1000",
          "derivedDataType": 0,
          "valueObj": 1000,
          "value": "1000",
          "uniqueId": "{{ property.property_type }}.datatype.maxNumberofUEs",
          "password": false,
          "definition": false,
          "type": "integer",
          "name": "maxNumberofUEs"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#msgSizeByte",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#msgSizeByte",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "msgSizeByte",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.msgSizeByte",
          "password": false,
          "definition": false,
          "type": "string",
          "name": "msgSizeByte"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#overallUserDensity",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#overallUserDensity",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "overallUserDensity",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.overallUserDensity",
          "password": false,
          "definition": false,
          "type": "integer",
          "name": "overallUserDensity"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#pLMNIdList",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": true,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#pLMNIdList",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "pLMNIdList",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.pLMNIdList",
          "password": false,
          "definition": false,
          "type": "string",
          "name": "pLMNIdList"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#resourceSharingLevel",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": true,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#resourceSharingLevel",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "constraints": [
            {
              "validValues": [
                "Shared","Non-shared"]
            }],
          "description": "resourceSharingLevel",
          "defaultValue": "Shared",
          "derivedDataType": 0,
          "valueObj": "Shared",
          "value": "Shared",
          "uniqueId": "{{ property.property_type }}.datatype.resourceSharingLevel",
          "password": false,
          "definition": false,
          "type": "string",
          "name": "resourceSharingLevel"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#sNSSAI",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": true,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#sNSSAI",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "sNSSAI",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.sNSSAI",
          "password": false,
          "definition": false,
          "type": "string",
          "name": "sNSSAI"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#sST",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": true,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#sST",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "constraints": [
            {
              "validValues": [
                "eMBB","uRLLC","mIot"]
            }],
          "description": "sST",
          "defaultValue": "eMBB",
          "derivedDataType": 0,
          "valueObj": "eMBB",
          "value": "eMBB",
          "uniqueId": "{{ property.property_type }}.datatype.sST",
          "password": false,
          "definition": false,
          "type": "string",
          "name": "sST"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#survivalTime",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#survivalTime",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "survivalTime",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.survivalTime",
          "password": false,
          "definition": false,
          "type": "string",
          "name": "survivalTime"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#transferIntervalTarget",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#transferIntervalTarget",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "description": "transferIntervalTarget",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.transferIntervalTarget",
          "password": false,
          "definition": false,
          "type": "string",
          "name": "transferIntervalTarget"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      },{
        "required": false,
        "schemaType": "",
        "propertiesName": "{{ property.name }}#uEMobilityLevel",
        "inputPath": null,
        "parentUniqueId": "{{ sdc_resource.unique_identifier }}",
        "getPolicyValues": null,
        "parentPropertyType": null,
        "schema": {
          "property": {
            "required": false,
            "description": null,
            "password": false,
            "definition": false,
            "type": ""
          }
        },
        "metadata": null,
        "constraints": null,
        "input": {
          "canBeDeclared": true,
          "required": false,
          "parentName": "{{ property.name }}",
          "propertiesName": "{{ property.name }}#uEMobilityLevel",
          "toscaPresentation": {},
          "isSelected": true,
          "schema": {
            "property": {}
          },
          "valueObjIsValid": true,
          "constraints": [
            {
              "validValues": [
                "stationary","nomadic","restricted mobility","fully mobility"]
            }],
          "description": "uEMobilityLevel",
          "derivedDataType": 0,
          "valueObj": null,
          "value": null,
          "uniqueId": "{{ property.property_type }}.datatype.uEMobilityLevel",
          "password": false,
          "definition": false,
          "type": "string",
          "name": "uEMobilityLevel"
        },
        "description": null,
        "defaultValue": null,
        "getInputValues": null,
        "toscaGetFunctionType": null,
        "value": null,
        "uniqueId": "{{ sdc_resource.unique_identifier }}.{{ property.name }}",
        "password": false,
        "definition": false,
        "origName": "{{ property.name }}",
        "type": "{{ property.property_type }}",
        "name": "{{ property.name }}",
        "subPropertyInputPath": null
      }]
  }
}